whatsdesk*
tiling*/*
scripts/.gittoken
google-chrome*/*
*ubuntu-desktop*
*gnome*
Code*
nvim/*
nvim.*/*
nvim/
obs*
microsoft*/
Kvantum/*
balena*
balena-etcher/*
caja/*
cfg*/*
transmission/*
dunst/*
Code*/*
gnome*/*
figma-linux/*
Code/*
Smart Code ltd/
lazygit/*
notion*/*
obs*/*
nwg*/*
opera/*
pluma/*
qt5ct/*
Mailspring*/*
session*/*
swappy/*
mate*/*
nvim/after/plugin/remote.lua
marco*/*
draw.io/
media-controls/
lazygit
lazygit/*
Slack/
enchant/
Windscribe/
gedit/
swww*
gnome-initial-setup-done
ibus/
notion-app/
pop-shell/
pop-system-updater/
qalculate/
teams-for-linux/
touchegg/
balena-etcher
obsidian
stacer/
monitor*
baloo*
pavu*
arkrc
albert.conf
TabNine/*
obsidian/*
cubocore
coreapps
ephoto
gh-dash
nvim/plugin
stacer
lvim/*
Backgrounds/subfolder/*
spacer/*
Mailspring
akonad*
Mailspring
Mailspring/.*
Mailspring/blob_storage
Mailspring/compile-cache
Mailspring/Cookies
Mailspring/Cookies-journal
Mailspring/Crashpad
Mailspring/Dictionaries
Mailspring/edgehill.db
Mailspring/edgehill.db-shm
Mailspring/edgehill.db-wal
Mailspring/files
Mailspring/Local
Mailspring/mailsync-8879a659.log
Mailspring/Network
Mailspring/Session
Mailspring/SingletonCookie
Mailspring/SingletonLock
Mailspring/SingletonSocket
KDE/*
PlasmaDiscoverUpdates
Trolltech.conf
bluedevilglobalrc
drkonqirc
emaildefaults
flameshotrc
kactivitymanagerdrc
kateschemarc
kcminputrc
kglobalshortcutsrc
kgpgrc
khotkeysrc
kmixctrlrc
kmixrc
kmousetool_strokes.txt
konsolerc
konsolesshconfig
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
libaccounts-glib/
menus/
parcellite/
powerdevilrc
powermanagementprofilesrc
spectaclerc
systemsettingsrc
trashrc
xdg-desktop-portal-kderc
xsettingsd/
.gsd-keyboard.settings-ported
cef_user_data/*
akregatorrc
JetBrains/*
flameshot/*
gthumb/*
kdedefaults/*
kdeconnect/*
zoom*
plasma*
kde*
Mechvibes/*
gtk*
baloofilerc
discover*
Mailspring/*Cache*/*
Mailspring/*cache*/*
Mailspring/*Storage*/*
.vimrc
falkon/*
Android Open Source Project/*
BraveSoftware/*
Code - OSS/*
Electron/*
GNOME-xdg-terminals.list
GitHub Desktop/*
Google/*
# Mailspring/*
Microsoft/*
QtProject.conf
README.pdf
# Simplenote/*
Thunar/*
archlinux-tweak-tool/*
autostart/*
breezy/*
nvim/lazy-lock.json
chromium/*
coc/*
dconf/*
dleyna-renderer-service.conf
dleyna-server-service.conf
dolphinrc
eog/*
evolution/*
flutter/*
fontforge/*
gh/*
github-copilot/*
gnome-control-center/*
gtk-2.0/*
gtk-3.0/*
gtk-4.0/
iput2.txt
kconf_updaterc
kde.org/*
kdeglobals
# lazygit/*
libfm/*
libreoffice/*
logs/*
mimeapps.list
monitors.xml
monitors.xml~
nautilus/*
# neofetch/*
node_modules/*
okularpartrc
okularrc
omf/*
package-lock.json
package.json
pcmanfm/*
protonvpn/*
pulse/*
readme.pdf
rygel.conf
session/*
spotify/*
stardict/*
syncthing/*
systemd/*
tabby/*
teams/*
tex.tex
totem/*
tree.txt
user-dirs.dirs
user-dirs.locale
vifm/*
vlc/*
whatsapp-for-linux/*
whatscli/*
xdg-terminals.list
xfce4/*
xpad/*
yelp/*

