.gsd-keyboard.settings-ported
.vimrc
Android Open Source Project/*
BraveSoftware/*
Code - OSS/*
Electron/*
GNOME-xdg-terminals.list
GitHub Desktop/*
Google/*
Mailspring/*
Microsoft/*
QtProject.conf
README.pdf
Simplenote/*
Thunar/*
archlinux-tweak-tool/*
autostart/*
breezy/*
btop/*
chromium/*
coc/*
dconf/*
dleyna-renderer-service.conf
dleyna-server-service.conf
dolphinrc
eog/*
evolution/*
flutter/*
fontforge/*
gh/*
github-copilot/*
gnome-control-center/*
gtk-2.0/*
gtk-3.0/*
gtk-4.0/
iput2.txt
kconf_updaterc
kde.org/*
kdeglobals
lazygit/*
libfm/*
libreoffice/*
logs/*
mimeapps.list
monitors.xml
monitors.xml~
nautilus/*
neofetch/*
node_modules/*
okularpartrc
okularrc
omf/*
package-lock.json
package.json
pcmanfm/*
protonvpn/*
pulse/*
readme.pdf
rygel.conf
session/*
spotify/*
stardict/*
syncthing/*
systemd/*
tabby/*
teams/*
tex.tex
totem/*
tree.txt
user-dirs.dirs
user-dirs.locale
vifm/*
vlc/*
whatsapp-for-linux/*
whatscli/*
xdg-terminals.list
xfce4/*
xpad/*
yelp/*

